*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
.~lock*
*~
*.orig

# Ignore the build and lib dirs
LNS/LNS_tasks/build/*.o

# Ignore any executables
LNS/LNS_tasks/bin/program

echo "Ignoring things!"
